In [3]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [4]:
df=pd.read_excel('Canada (2).xlsx')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Department of Economic and Social Affairs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,International Migration Flows to and from Sele...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,POP/DB/MIG/Flow/Rev.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,December 2015 - Copyright Â© 2015 by United Nat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Suggested citation: United Nations, Department...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,International Migration Flows to and from Sel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Reporting country: Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Criterion: Citizenship,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Classification,NaN,Regional aggregates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012.0,2013.0
20,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,...,..,..,..,..,..,..,..,1,1.0,NaN
21,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7726,7083,6750,6669,6705,6922,8591,8956,8846.0,NaN
22,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2452,2802,2834,2951,3034,3255,3369,3146,4602.0,NaN
23,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12478,11323,12705,11750,13456,16320,19271,15712,15453.0,NaN
24,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1203,1012,1148,1230,1184,1235,1306,1049,1348.0,NaN
25,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,...,4333,5303,5751,5684,5511,6802,8355,6578,7834.0,NaN
26,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,...,28192,27523,29188,28284,29890,34534,40892,35441,38083.0,NaN
27,Immigrants,Foreigners,Asia,Central Asia,..,..,..,..,..,..,...,995,1134,903,936,805,962,905,769,1029.0,NaN
28,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,...,43550,50306,41763,35591,39602,37497,37954,35159,40449.0,NaN
29,Immigrants,Foreigners,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,...,18056,22809,25105,27256,30614,34166,44199,40494,37695.0,NaN
30,Immigrants,Foreigners,Asia,Southern Asia,11315,11566,11591,10157,9607,7654,...,58521,69510,66742,56032,54154,53083,62284,53673,60568.0,NaN
31,Immigrants,Foreigners,Asia,Western Asia,4181,4662,4120,2440,2882,3430,...,13728,15494,14541,13644,14719,15726,18503,16799,12477.0,NaN
32,Immigrants,Foreigners,Asia Total,NaN,31025,34314,30214,24696,27274,23850,...,134850,159253,149054,133459,139894,141434,163845,146894,152218.0,NaN
33,Immigrants,Foreigners,Europe,Eastern Europe,1467,3698,6873,5459,4433,3969,...,18360,16724,14389,13886,11988,11759,11803,9612,9464.0,NaN
34,Immigrants,Foreigners,Europe,Northern Europe,23721,26608,22134,10725,10845,10212,...,8486,8153,7969,9186,10042,9846,9816,7285,7616.0,NaN
35,Immigrants,Foreigners,Europe,Southern Europe,7762,7037,5222,3083,3033,2868,...,3200,2806,2417,2290,2692,2948,2661,2466,2854.0,NaN
36,Immigrants,Foreigners,Europe,Western Europe,6810,7459,8491,5371,3976,3795,...,8036,8272,8278,8133,9970,10525,9145,7415,9243.0,NaN
37,Immigrants,Foreigners,Europe Total,NaN,39760,44802,42720,24638,22287,20844,...,38082,35955,33053,33495,34692,35078,33425,26778,29177.0,NaN
38,Immigrants,Foreigners,Latin America and the Caribbean,Caribbean,7045,8310,8326,6998,5553,6048,...,6630,6816,6652,7826,8862,8847,10549,11958,11898.0,NaN
39,Immigrants,Foreigners,Latin America and the Caribbean,Central America,734,921,1612,3648,4087,4862,...,3346,3990,4140,5039,4891,4814,5692,5821,6019.0,NaN
40,Immigrants,Foreigners,Latin America and the Caribbean,South America,5302,5984,6831,4781,4038,4261,...,12205,13941,13884,13146,12794,13206,12577,10077,9256.0,NaN
41,Immigrants,Foreigners,Latin America and the Caribbean Total,NaN,13081,15215,16769,15427,13678,15171,...,22181,24747,24676,26011,26547,26867,28818,27856,27173.0,NaN
42,Immigrants,Foreigners,Northern America,Northern America,9378,10030,9074,7100,6661,6543,...,6990,8394,9613,9463,10190,8995,8142,7676,7891.0,NaN
43,Immigrants,Foreigners,Oceania,Australia and New Zealand,1304,1119,848,457,481,467,...,1280,1279,1193,1383,1498,1538,1423,1226,1399.0,NaN
44,Immigrants,Foreigners,Oceania,Melanesia,632,707,816,558,391,448,...,497,300,278,304,331,313,401,316,273.0,NaN
45,Immigrants,Foreigners,Oceania,Micronesia,1,..,..,1,..,..,...,1,2,1,3,1,2,..,..,2.0,NaN
46,Immigrants,Foreigners,Oceania,Polynesia,5,13,11,2,6,5,...,10,4,1,3,4,7,10,6,5.0,NaN
47,Immigrants,Foreigners,Oceania Total,NaN,1942,1839,1675,1018,878,920,...,1788,1585,1473,1693,1834,1860,1834,1548,1679.0,NaN
48,Immigrants,Foreigners,Unknown,Unknown,44000,18078,16904,13635,14855,14368,...,3739,4785,4583,4348,4197,3402,3731,2554,1681.0,NaN

reading excel

In [5]:
df=pd.read_excel('Canada (2).xlsx',sheet_name=1,skiprows=20,
                 skipfooter=2)
df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [6]:
df2=pd.read_csv('blood_transfusion.csv')
df2

     Recency  Frequency  Monetary  Time        Class
0          2         50     12500    98      donated
1          0         13      3250    28      donated
2          1         16      4000    35      donated
3          2         20      5000    45      donated
4          1         24      6000    77  not donated
..       ...        ...       ...   ...          ...
743       23          2       500    38  not donated
744       21          2       500    52  not donated
745       23          3       750    62  not donated
746       39          1       250    39  not donated
747       72          1       250    72  not donated

[748 rows x 5 columns]

reading csv (comma seperated value)

In [7]:
df2=pd.read_csv('blood_transfusion.csv',encoding='utf-8')  ## ya fir latin1 bucks ko fir kar deta h
df2

     Recency  Frequency  Monetary  Time        Class
0          2         50     12500    98      donated
1          0         13      3250    28      donated
2          1         16      4000    35      donated
3          2         20      5000    45      donated
4          1         24      6000    77  not donated
..       ...        ...       ...   ...          ...
743       23          2       500    38  not donated
744       21          2       500    52  not donated
745       23          3       750    62  not donated
746       39          1       250    39  not donated
747       72          1       250    72  not donated

[748 rows x 5 columns]

In [8]:
x=np.random.randint(0,10,5)
x

array([0, 9, 6, 1, 8])

In [9]:
data={
    'sno':[1,2,3,4,5],
    'years':[2010,2011,2012,2013,2014],
    'price':[10,20,50,40,10]
}
df3=pd.DataFrame(data)
df3

   sno  years  price
0    1   2010     10
1    2   2011     20
2    3   2012     50
3    4   2013     40
4    5   2014     10

loading a file with absolute path

In [10]:
df4=pd.read_excel(r"C:\Users\hp\Desktop\data_example.xlsx")
df4

  product  quantity  price
0   apple       100  12000
1  banana        50   2500
2  cherry        10   1200

what to do in pandas
# loading data
# view data
# change pandas settings
# row and column operations
 - selection
 - add
 - remove
 - changes
## data cleaning
 - handling missing values
 - dropping values
 - removing unwanted data
 - renaming columns
 - changing columns
 - changing data types
 - handling outliers
## analysis
 - descriptive statistics
 - group by
 - pivot table
 - correlation
## visualization
 - univariate
 - bivariate
 - multivariate
 - geospatial
## saving data